@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f1f7f9;
    --foreground: #012c3d;
    --inverted-background: #012c3d;
    --inverted-foreground: #f1f7f9;
    --inverted-background-medium: #67808a;
    --inverted-background-lighter: #e6eaec;
    --inverted-background-transparent: #99aab155;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-background: #f1f7f990;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #85bbed;
    --primary-transparent: #85bbed55;
    --primary-light: #cee4f8;
    --primary-foreground: #012c3d;
    --secondary: #edb785;
    --secondary-transparent: #edb78544;
    --secondary-light: #fae9da;
    --secondary-foreground: #012c3d;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: #f8444f;
    --accent-light: #fdc7ca;
    --accent-foreground: #f1f7f9;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: var(--foreground);
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .bg-sunny {
    @apply bg-gradient-to-bl from-secondary to-accent;
  }
}
